.wrapper {
  margin-bottom: 45px;
  .proDesc {
    margin: auto 0;
    font-size: 1.8rem;
    color: #727272;
    font-weight: 600;
    .proDesc_title {
      font-family: "Playfair Display", serif;
      font-size: 4.5rem;
      color: #424242;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 2.5;
    }
  }
}
