.wrapper {
  margin-top: 78px;
  padding-bottom: 20px;
  .home_text{
   margin: auto 0;
   h1{
    width: 50%;
    font-family: "Playfair Display", serif;
    font-size: 5.5rem;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 25px;
   }
   p{
   
    font-size: 2rem;
    line-height: 1.8;
   }
  }
  .home_img {
    width: 100%;
    border-radius: 40px;
  }
}
