.wrapper{
  padding-bottom: 30px;
}
.proWrapper {
  padding-top: 25px;
  .reverse {
    flex-direction: row-reverse;
  }
  .proDesc {
    position: relative;
    font-size: 1.8rem;
    color: #727272;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    .proDesc_title {
      font-size: 2.6rem;
      color: #424242;
      font-weight: 600;
      line-height: 2;
    }
    .proDesc_link {
      font-size: 1.6rem;
      color: var(--color-cta);
      font-weight: 600;
      text-decoration: underline;
      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
