.wrapper {
  margin-bottom: 50px;
}

.proWrapper {
  margin-bottom: 40px;
  .reverse {
    flex-direction: row-reverse;
  }
  .proDesc {
    position: relative;
    font-size: 1.8rem;
    color: #727272;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    .proDesc_title {
      font-size: 2.3rem;
      color: #424242;
      font-weight: 600;
      line-height: 2;
    }
    .proDesc_link {
      position: absolute;
      bottom: 0;
      font-size: 1.6rem;
      color: #333;
      letter-spacing: 0.05em;
      border-bottom: 1px solid #333;
      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
