.wrapper {
  padding: 0;
  background-color: var(--color-bg-light);

  .logo {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    color: var(--color-text-muted);

    text-transform: uppercase;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nav_list {
    flex-grow: 0;
    .nav_linkItem {
      height: 100%;
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--color-text-muted);
      text-transform: uppercase;
      padding: 15px 10px;
      &:hover {
        font-weight: 600;
        transform: scale(1.1);
      }
    }
  }
}
