.wrapper {
  background-color: var(--color-accent);
  padding: 3rem 0;
  color: var(--color-text-main);
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.4rem;
  line-height: 1.7;
  max-width: 500px;
}

.contactList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contactList li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.icon {
  margin-right: 1.4rem;
  color: var(--color-text-main);
}
